# Created by https://www.toptal.com/developers/gitignore/api/zig,deno,c
# Edit at https://www.toptal.com/developers/gitignore?templates=zig,deno,c

### C ###
# Prerequisites
*.d

### Kotlin ###

*.jar

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### Deno ###
/node_modules

.env
*.orig
*.pyc
*.swp

### zig ###
# Zig programming language

.zig-cache/
zig-out/
main
build/
build-*/
docgen_tmp/

### Python ###

.venv

# End of https://www.toptal.com/developers/gitignore/api/zig,deno,c and python
